.site-logo {
  transition: all 0.2s ease-in-out;
}
.site-logo:hover {
  transform: scale(1.1);
}

.navigation-main a:hover {
  border-bottom: rgba(255, 255, 255, 0.5333333333) 1px solid;
}

.article-left-align .tc-l {
  text-align: left;
}

.text-style.--smaller {
  font-size: smaller;
}
.text-style.--italic {
  font-style: italic;
}
