.site-logo {
  transition: all 0.2s ease-in-out;
}
.site-logo:hover {
  transform: scale(1.1);
}

.navigation-main a {
  text-decoration: none;
}
.navigation-main a:hover {
  border-bottom: rgba(255, 255, 255, 0.5333333333) 1px solid;
  text-decoration: none;
}

.article-left-align .tc-l {
  text-align: left;
}

.text-style.--smaller {
  font-size: smaller;
}
.text-style.--italic {
  font-style: italic;
}

#privacy-banner.privacy-mode-explicit #reject-privacy {
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: inline-block;
}
#privacy-banner.privacy-mode-explicit #reject-privacy:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#privacy-banner.privacy-mode-explicit #accept-privacy {
  display: inline-block;
}
#privacy-banner.privacy-mode-explicit #acknowledge-privacy {
  display: none;
}
#privacy-banner.privacy-mode-auto #acknowledge-privacy {
  display: inline-block;
}
#privacy-banner.privacy-mode-auto #accept-privacy {
  display: none;
}

a {
  color: #ee5240;
  text-decoration: none;
}
a:hover {
  color: #cf2612;
  text-decoration: underline;
}

article a.no-underline:hover,
.summary-with-image a:hover,
.summary a:hover {
  text-decoration: none;
}
