{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img {{ $.Param "article_class" }}">
    <section class="ph3 ph5-l pv3 pv4-l f4 tl lh-copy mid-gray">
      {{- .Content -}}
    </section>
    <section class="ph3 ph5-l mt4">
      <div class="flex-ns flex-wrap justify-start">
        {{ range .Paginator.Pages }}
          <div class="relative w-100 w-50-l pr4-l mb4 bg-white">
            {{- partial "summary.html" . -}}
          </div>
        {{ end }}
      </div>
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
