<article class="bg-white overflow-hidden">
  {{ $featured_image := partial "func/GetFeaturedImage.html" . }}
  {{ if $featured_image }}
    <div class="w-100 mb3">
      <a href="{{ .RelPermalink }}" class="db no-underline">
        <img src="{{ $featured_image }}" class="db w-100 dim" alt="image from {{ .Title }}">
      </a>
    </div>
  {{ end }}
  <div class="ph3 pb3">
    <h3 class="f4 fw6 athelas mt0 lh-title mb2">
      <a href="{{ .RelPermalink }}" class="link orange dim">{{ .Title }}</a>
    </h3>
    <div class="f6 lh-copy nested-copy-line-height dark-gray">
      {{ $content := .Content }}
      {{ $firstParagraph := index (split $content "</p>") 0 }}
      {{ $firstParagraph | safeHTML }}</p>
    </div>
  </div>
</article>
