.site-logo {
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.navigation-main {
  a {
    &:hover {
      border-bottom: #ffffff88 1px solid;
    }
  }
}

.article-left-align .tc-l {
  text-align: left;
}

.text-style {
  &.--smaller {
    font-size: smaller;
  }

  &.--italic {
    font-style: italic;
  }
}
